*{
padding: 0;
margin: 0;
}

ul{
    list-style: none;
}

a{
text-decoration: none;
}

body
{
    background: url(img/bg-body.png) no-repeat 50% 0 #0e0e0e;
    font:12px Arial, Helvetica, sans-serif;
    padding: 40px 0;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
}


/* HEADER BEGIN */

header {
    display: block;
    height: 97px;
    background: #ffffff;
    border-radius: 7px 7px 0px 0px;
    -o-border-radius: 7px 7px 0px 0px;
     -moz-border-radius: 7px 7px 0px 0px;
     -webkit-border-radius: 7px 7px 0px 0px;
}

header h1{
    margin: 30px 0 0 40px;
    float: left;
}

.tel {
    background: url(img/bg-tel.png) repeat-x 0 0 ;
    padding: 5px 27px 5px 93px;
    font: 18px bold;
    color: #c0c0c0;
    float: right;
}

header nav{
    float: right;
    clear: right;
}

header nav li{
    margin: 20px 30px 0 5px;
    float: right;
}

header nav li a{
    color: #808080;
    font-weight: bold;
    text-transform: uppercase;
}

header nav li.current a{
    background: url(img/bg-li-current.png) repeat-x 0 0;
    padding: 3px 15px;
    color: #ffffff;
    border: 1px solid #00224b;
    border-radius: 4px;
}

/* HEADER END */

                                                /* HOME PAGE BEGIN */
/* SLIDER PANEL BEGIN */

/* NOTE: Need to add font */
.slider-block{
    background: url(img/bg-slider-block.png) no-repeat 0 0, #ededed;
    height: 335px;
    padding: 40px 30px 0 50px;
    color: #ffffff;
    font-size: 29px;
}

.slider-block img{
    float: right;
    margin: 50px 20px 0 20px;
}

.slider-block  p:first-of-type{
    margin: 45px 0 0 0;
}

.fs30{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin: 15px 0 35px 0;
}

.started {
    background: url(img/bg-slider-button-arrow.png) no-repeat 95% 60%, url(img/bg-slider-button.gif) repeat-x 0 0;
    padding: 15px 50px 10px 25px;
    display: inline-block;
    margin-left: 5px;
    border-radius: 7px;
    font-size: 20px;
    color: #b90016;
    text-transform: uppercase;
}

/* SLIDER PANEL  END */

/* BLURBS BEGIN */

.blurbs{
    padding: 5px 65px 10px 50px;
    background: #ededed;
    border-bottom: #cecece solid 2px;
}

.blurbs li{
   display: inline-block;
   min-height: 70px;
   padding: 10px 0 0 90px;
   margin-left: 55px;
   font: #4f4f4f;
}

.blurbs li p, .blurbs li h3{
   opacity: 0.5;
}

.blurbs li.wallet{
   background: url(img/wallet.png) no-repeat 0 0;
   margin-left: 0px;
}

.blurbs li.clock{
   background: url(img/clock.png) no-repeat 0 0;
}

.blurbs li.phone{
   background: url(img/phone.png) no-repeat 0 0;
}

/* BLURBS  END */

/* MIDDLE BEGIN */

.middle{
    padding: 15px 0 45px 40px;
    background: #ffffff;
}

.middle > li{
    display: inline-block;
    max-width: 270px;
    vertical-align: top;
}

.middle > li:not(:first-child){
    margin-left: 40px;
}

.middle > li *{
    margin-top: 25px;
}

.middle > li  p{
    padding-right: 15px;
}

.design{
    list-style-image: url(img/middle-arrow.png);
    list-style-position: inside;
}

.design li{
   height: 20px;
   border-bottom: 1px dotted;
   margin: 0;
   padding: 5px 0;
   
}

.design li:first-child{
   margin-top: 20px;
}

.design li a{
   color: #0f4db6;
}

.middle-button{
    text-transform: uppercase;
    padding: 8px 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #6c6c6c;
    font-weight: bold;
    background-image: linear-gradient(to top, #e5e5e5, #fefefe);
}

.middle-button:hover{
    background-image: linear-gradient(to top, #fefefe, #e5e5e5);
}

/* MIDDLE  END */


                                        /* HOME PAGE END */
                                        /* CONTACT PAGE BEGIN */

 /* INFO BEGIN */

.info {
    background: url(img/contact-info.png) no-repeat 0 0;
    padding: 25px 60px 25px 40px;
    color: #ffffff;
}

.info .thank{
    float: right;
    font-size: 20px;
    font-style: italic;
    padding: 3px 0 0 0;
}

.info .contact{
    font-size: 25px;
    font-weight: bold;
}

 /* INFO END */
 /* FORM BEGIN */

form{
    background: url(img/bg-border-aside.gif) repeat-y 700px 0, #ffffff;
    padding: 30px 0 65px 40px;
}

form *{
    display: block;
}

form label{
    font-size: 13px;
    color: #4f4f4f;
}

form input[type="text"],
form textarea    {
    margin: 12px 0;
    min-height: 30px;
    min-width: 385px;
    border-radius: 4px;
    background: linear-gradient(to top, #ffffff, #eeeeee);
    border: 1px solid #c9c9c9;
    resize: none;
}

form input[type="submit"]{
    background: linear-gradient(to top,#eeeeee, #ffffff);
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    padding: 8px 25px;
}

form input[type="submit"]:hover{
    background: linear-gradient(to top,#ffffff, #eeeeee);
}

 /* FORM END */

  /* ASIDE START */

aside.details{
    float: right;
    min-width: 260px;
    padding: 40px 0 0 0;
}

aside.details h3,
aside.details ul.social{
    padding: 5px 0 5px 22px;
}

aside.details p{
    padding: 12px 0 18px 22px;
}

aside.details h3 {
    background: linear-gradient(to right, #cfcfcf, #ffffff);
}

ul.social li{
    display: inline-block;
    margin-right: 10px;
}
ul.social a{
    display: inline-block;
    width: 30px;
    height: 30px;
}

ul.social .in{
    background: url(img/details-sprite.png) no-repeat;
}

ul.social .t{
    background: url(img/details-sprite.png) no-repeat -35px 0;
}

ul.social .f{
    background: url(img/details-sprite.png) no-repeat -70px 0;
}

  /* ASIDE END */

                                        /* CONTACT PAGE END */


/* FOOTER START */

footer {
    background: url(img/bg-footer-border.gif) repeat-x, #ededed;
    border-radius: 0 0 6px 6px;
}

ul.top-footer{
    padding: 25px 0 10px 40px;
    color: #4f4f4f;
    border: 1px solid #cccccc;
}

ul.top-footer h3{
    color: #585858;
    font-size: 15px;
    margin-bottom: 30px;
} 

ul.top-footer li{
    display: inline-block;
    vertical-align: top;
}

ul.top-footer .browse-site{
    max-width: 110px;
    margin-right: 100px;
}

ul.top-footer .testimonials{
    max-width: 310px;
    margin-right: 65px;
}

ul.top-footer .testimonials p,
ul.top-footer .browse-site ul li{
    line-height: 20px;
}

ul.top-footer .blog{
    max-width: 289px;
}

ul.top-footer .blog h3{
    margin-bottom: 20px;
}

.bold{
    font-weight: bold;
}

.blue-bold{
    color: #0f4db6;
    font-weight: bold;
}

/* BOTTOM FOOTER  END */

.bottom-footer{
    padding: 20px 40px;
    border-top: 1px solid #ffffff;
}

.social-networks li{
    display: inline-block;
    margin-right: 15px;
}

.social-networks a{
    display: inline-block;
    min-height: 17px;
    min-width: 17px;
}

.social-networks .twitter{
    background: url(img/footer-sprite.png) no-repeat; 
}

.social-networks .inst{
    background: url(img/footer-sprite.png) no-repeat -19px 0; 
}

.social-networks .faceb{
    background: url(img/footer-sprite.png) no-repeat -39px 0; 
}

.bottom-footer a.logo{
    float: right;
    margin-left: 60px;
}

.bottom-footer .social-networks{
   float: right;
}

/* FOOTER  END */